<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TreatNoTestsAsError>true</TreatNoTestsAsError>
  </RunConfiguration>
  <Loggers>
    <Logger uri="logger://microsoft/TestPlatform/ConsoleLogger/v1" enabled="True">
      <Configuration>
        <Verbosity>Detailed</Verbosity>
      </Configuration>
    </Logger>
  </Loggers>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.CollectData, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <Format>cobertura</Format>
          <CollectOnlyWhenEnabled>false</CollectOnlyWhenEnabled>
          <ExcludeByFile>**/*Designer.cs</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
